<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="/">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="/about">About</a></li>

        <li class="nav-ctfs {% if page.url contains 'ctfs' %} nav-current{% endif %}" role="presentation"><a href="/tag/ctfs">CTFs</a></li>
        <li class="nav-system_hacking {% if page.url contains 'system_hacking' %} nav-current{% endif %}" role="presentation"><a href="/tag/system_hacking">system hacking</a></li>
        <li class="nav-reversing {% if page.url contains 'reversing' %} nav-current{% endif %}" role="presentation"><a href="/tag/reversing">Reversing</a></li>


        <!-- <li class="nav-author {% if page.url contains 'smlee' %} nav-current{% endif %}" role="presentation"><a href="/author/smlee">smlee</a></li> -->
    </ul>
    <a class="subscribe-button icon-feed" href="/feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
